<!DOCTYPE html>
<html>
    <head>
        <title>About us</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="images/favicon.png" type="icon" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book Store</span> </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="products">Book</a></li>
                    <li><a href="checkout">Purchase Book/a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about" class="active">About Us</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>About Us</h1>
                    <div class="image main">
                        <img src="images/banner-image-1-1920x500.jpg" class="img-fluid" alt="" />
                    </div>
                    <p>
                        We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new
                        writers, where children get hooked on the thrill of reading that can last a lifetime. They’re also anchors for our downtowns and
                        communities As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and
                        support bookstores at the same time.
                    </p>
                    <p>
                        We also support anyone who advocates for books through our affiliate program, which pays a 10% commission on every sale, and gives a
                        matching 10% to independent bookstores. If you are an author, a website or magazine, have a bookclub, an organization that wants to
                        recommend books, or even just a book-lover with an Instagram feed, you can sign up to be an affiliate, start your own shop, and be
                        rewarded for your advocacy of books.
                    </p>
                    <p>
                        By design, we give away over 75% of our profit margin to stores, publications, authors and others who make up the thriving,
                        inspirational culture around books! We hope that Bookshop can help strengthen the fragile ecosystem and margins around bookselling and
                        keep local bookstores an integral part of our culture and communities
                    </p>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                        &nbsp;
                    </section>
                    <ul class="copyright">
                        <li>Copyright © 2021 Online Book Store</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
