<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="images/favicon.png" type="icon" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book Store</span> </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="products">Book</a></li>
                    <li><a href="checkout">Purchase Book</a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="blog" class="active">Blog</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>Blog - details</h1>
                    <div class="image main">
                        <img src="images/blog-fullscreen-1-1920x700.jpg" class="img-fluid" alt="" />
                    </div>
                    <p>
                        If you're anything like us, then your passion for reading and writing doesn't end with the novels on your shelf or the scrawls in your
                        notebook—you're always interested in what's going on in the literary world, from the latest publishing news to interviews with authors
                        and writing advice columns.
                    </p>
                    <p>
                        Check out the Amazon Book Review for everything that a book lover could ask for: spotlights on a variety of genres, celebrity book
                        picks, and author interviews, all organized within a bright, easy-to-navigate book blog.
                    </p>
                    <p>
                        If you're anything like us, then your passion for reading and writing doesn't end with the novels on your shelf or the scrawls in your
                        notebook—you're always interested in what's going on in the literary world, from the latest publishing.
                    </p>
                    <p>
                        Check out the Amazon Book Review for everything that a book lover could ask for: spotlights on a variety of genres, celebrity book
                        picks, and author interviews, all organized within a bright, easy-to-navigate book blog.
                    </p>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <h2>Leave a comment</h2>
                        <form method="post" action="#">
                            <div class="fields">
                                <div class="field half">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <textarea name="message" id="message" rows="3" placeholder="Your message"></textarea>
                                </div>
                                <div class="field text-right">
                                    <label>&nbsp;</label>
                                    <ul class="actions">
                                        <li><input type="submit" value="Submit" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section>
                        <h2>Share This</h2>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-behance"><span class="label">Behance</span></a>
                            </li>
                        </ul>
                    </section>
                    <ul class="copyright">
                        <li>Copyright © 2021 Online Book Store</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
