<!DOCTYPE html>
<html>
    <head>
        <title>Check Out</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="../css/main.css" />
        <link rel="icon" href="images/favicon.png" type="icon" />
        <noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book Store </span> </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="products">Books</a></li>
                    <li><a href="/checkout" class="active">Purchase Book</a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>Book - Details</h1>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="images/product-1-720x480.jpg" class="img-fluid" alt="" />
                        </div>
                        <div class="col-md-7">
                            <p>Purchase book details</p>
                            <p>
                                If you want to publish an eBook most of the details you enter will transfer to the other format. For example, if you publish an
                                eBook first and decide to publish a paperback later
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <form method="post" action="/add">
                            <div class="fields">
                                <div class="field half">
                                    <select name="bookid" id="field-0">
                                        <% user.forEach(function(user){ %>
                                        <option value="<%" ="user.bookid" %>> <%= user.bookname %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="field half">
                                    <input type="number" name="quantity" id="field-1" placeholder="Quantity" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="userName" id="field-2" placeholder="Name" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="email" id="field-3" placeholder="Email" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="phone" id="field-4" placeholder="Phone" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="address" id="field-5" placeholder="Address" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="city" id="field-7" placeholder="City" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="state" id="field-8" placeholder="State" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="payment" id="field-9" placeholder="PaymentType" />
                                </div>
                                <div class="field">
                                    <div>
                                        <input type="checkbox" id="checkbox-4" />
                                        <label for="checkbox-4"> I agree with the <a href="terms.ejs" target="_blank">Terms &amp; Conditions</a> </label>
                                    </div>
                                </div>
                                <div class="field half text-right">
                                    <ul class="actions">
                                        <li><input type="submit" value="Purchase" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section>
                        <h2>Contact Info</h2>
                        <ul class="alt">
                            <li><span class="fa fa-envelope-o"></span> <a href="#">contact@bookstore.com</a></li>
                            <li><span class="fa fa-phone"></span> +1 1 022 65984</li>
                            <li><span class="fa fa-map-pin"></span> 212 Main road, book store Pune Maharashtra India.</li>
                        </ul>
                        <h2>Follow Us</h2>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                    </section>
                    <ul class="copyright">
                        <li>Copyright © 2021 Online Book Store</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
