<!DOCTYPE html>
<html>
    <head>
        <title>Contact us</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="icon" href="/images/favicon.png" type="icon" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book Store</span> </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/checkout">Checkout Book</a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact" class="active">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>Contact Us</h1>
                    <!--<span class="image main"><img src="images/map.jpg" alt="" /></span>-->
                    <span
                        ><iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242118.14199813124!2d73.72287926986517!3d18.524564858545087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1628532076205!5m2!1sen!2sin"
                            width="1150"
                            height="450"
                            style="border: 0"
                            allowfullscreen=""
                            loading="lazy"
                        ></iframe
                    ></span>
                    <p>
                        A full refund will be given in your original form of payment if returned during the first 10 day of classes (see in-store signage for
                        specific dates) with original receipt and in original condition. Course packets, access codes, shrink-wrapped items where the
                        shrink-wrap has been broken are non-returnable. A full refund will be given in your original form of payment if merchandise is in
                        original condition with original receipt and returned within 5 days of purchase. Test Prep, Study Aids, Magazines and Sale Merchandise
                        are non-returnable. A full refund will be given in your original form of payment if merchandise is in original condition with original
                        receipt within 30 days of purchase. Online purchases may be returned by mail, or in-person at the store.
                    </p>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <h2>Contact Us</h2>
                        <form method="post" action="/mailpage">
                            <div class="fields">
                                <div class="field half">
                                    <input type="text" name="name" id="name" placeholder="Name" />
                                </div>
                                <div class="field half">
                                    <input type="text" name="email" id="email" placeholder="Email" />
                                </div>
                                <div class="field">
                                    <input type="text" name="subject" id="subject" placeholder="subject" />
                                </div>
                                <div class="field">
                                    <textarea name="message" id="message" rows="3" placeholder="Notes"></textarea>
                                </div>
                                <div class="field text-right">
                                    <label>&nbsp;</label>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="primary" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                    <section>
                        <h2>Contact Info</h2>
                        <ul class="alt">
                            <li><span class="fa fa-envelope-o"></span> <a href="#">contact@bookstore.com</a></li>
                            <li><span class="fa fa-phone"></span> +1 022 65984</li>
                            <li><span class="fa fa-map-pin"></span> 212 Main road, book store Pune Maharashtra India</li>
                        </ul>
                        <h2>Follow Us</h2>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icson style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                    </section>
                    <ul class="copyright">
                        <li>Copyright © 2021 Online Book Store</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
