<!DOCTYPE html>
<html>
    <head>
        <title>Online Book Store</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="images/favicon.png" type="icon" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">online Book Store</span> </a>

                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="products" class="active">Books</a></li>
                    <li><a href="checkout">Checkout Book</a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="testimonials">Testimonials</a></li>
                            <li><a href="terms">Terms</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>
                        Book - Details <span class="pull-right"><del>RS.200.00</del> Rs.150.00</span>
                    </h1>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-5">
                                <img src="images/product-1-720x480.jpg" class="img-fluid" alt="" />
                            </div>
                            <div class="col-md-7">
                                <p>Purchase book details</p>
                                <p>
                                    If you want to publish an eBook most of the details you enter will transfer to the other format. For example, if you publish
                                    an eBook first and decide to publish a paperback later
                                </p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="container-fluid">
                        <h2 class="h2">Books</h2>
                        <!-- Products -->
                        <section class="tiles">
                            <article class="style1">
                                <span class="image">
                                    <img src="images/product-1-720x480.jpg" alt="" />
                                </span>
                                <a href="checkout">
                                    <h2>Solution Of Happy Life</h2>
                                    <p><del>200.00</del> <strong>150.00</strong></p>
                                    <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in</p>
                                </a>
                            </article>
                            <article class="style2">
                                <span class="image">
                                    <img src="images/product-2-720x480.jpg" alt="" />
                                </span>
                                <a href="checkout">
                                    <h2>You Are Your Only Limit</h2>
                                    <p><del>300.00</del> <strong>250.00</strong></p>
                                    <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in</p>
                                </a>
                            </article>
                            <article class="style3">
                                <span class="image">
                                    <img src="images/product-6-720x480.jpg" alt="" />
                                </span>
                                <a href="checkout">
                                    <h2>How To Start Living</h2>
                                    <p><del>200.00</del> <strong>180.00</strong></p>
                                    <p>Vestibulum id est eu felis vulputate hendrerit uspendisse dapibus turpis in</p>
                                </a>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                        &nbsp;
                    </section>
                    <ul class="copyright">
                        <li>Copyright © 2021 Online Book Store</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
