<!DOCTYPE html>
<html>
    <head>
        <title>Testimonials</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <link rel="icon" href="images/favicon.png" type="icon" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    <body class="is-preload">
        <!-- Wrapper -->
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <div class="inner">
                    <!-- Logo -->
                    <a href="index" class="logo"> <span class="fa fa-book"></span> <span class="title">Online Book Store</span> </a>
                    <!-- Nav -->
                    <nav>
                        <ul>
                            <li><a href="#menu">Menu</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <!-- Menu -->
            <nav id="menu">
                <h2>Menu</h2>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="products">Book</a></li>
                    <li><a href="checkout">Purchase Book</a></li>
                    <li><a href="/login">Adminstration</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About</a>
                        <ul>
                            <li><a href="about">About Us</a></li>
                            <li><a href="blog">Blog</a></li>
                            <li><a href="testimonials" class="active">Testimonials</a></li>
                        </ul>
                    </li>
                    <li><a href="contact">Contact Us</a></li>
                </ul>
            </nav>
            <!-- Main -->
            <div id="main">
                <div class="inner">
                    <h1>Testimonials</h1>
                    <div class="image main">
                        <img src="images/banner-image-3-1920x500.jpg" class="img-fluid" alt="" />
                    </div>
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <p class="m-n">
                                <em>
                                    "For many, writing a screenplay can be like waging a war. It’s you vs. the blank page. Pilar’s book is like a strategic
                                    field guide about the art of war, so read it and keep it handy the next time you type FADE IN. This is an exciting
                                    discovery! I’m reading The Coffee Break Screenwriter right now, and I’m enjoying both the author’s perspective and
                                    problem-solving techniques. I’m going through the Take-Ten"
                                </em>
                            </p>
                            <p><strong> - Aanya Sharma</strong></p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <p class="m-n">
                                <em>
                                    "I ran across your book by accident and bought it on a lark. It was wonderful! I had the outline of my story done within
                                    just a few days. I completed two thirds of my screenplay in just a few weeks. The middle third took some retooling, but your
                                    book helped me stay focused and gave me the encouragement that I could complete my work without going to an expensive film
                                    school."
                                </em>
                            </p>
                            <p><strong>- Bhavna Patil</strong></p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <p class="m-n">
                                <em>
                                    "This is an exciting discovery! I’m reading The Coffee Break Screenwriter right now, and I’m enjoying both the author’s
                                    perspective and problem-solving techniques. I’m going through the Take-Ten’s to help pinpoint some problem areas in a script
                                    I wrote a few years ago. I look forward to hearing the podcasts!"
                                </em>
                            </p>
                            <p><strong> - Ranu singh</strong></p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <p class="m-n">
                                <em>
                                    "Thank you for the book and the podcast. Both have been very useful to me as a theatre writer in the UK. In fact I have used
                                    the Coffee Break screenwriter to help me structure a play I am writing Break screenwriter to help me structure a play I am
                                    writing for York Theatre Royal."
                                </em>
                            </p>
                            <p><strong>- Rahul Pawar</strong></p>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-6 text-center">
                            <p class="m-n">
                                <em>
                                    "I was really struggling getting started on my first screenplay. I had all these great ideas in my head, I just didn’t know
                                    how to put them on paper. The Coffee Break Screenwriter was a huge help. The step by step process detailed in the book makes
                                    it so simple. Using these guidelines I was able to finish my first screenplay in four months, while working my 55 hour a
                                    week day job. Three production companies are already reading my script. Thanks Pilar!"
                                </em>
                            </p>
                            <p><strong> - Ram Joshi</strong></p>
                        </div>
                        <div class="col-sm-6 text-center">
                            <p class="m-n">
                                <em>
                                    "The genius of Pilar’s book isn’t that she tells you how t o write quickly — it’s that she provides invaluable exercises and
                                    questions to help you focus on each individual element of your script: act breaks, character motivations, emotional arcs,
                                    individual scenes, lines of dialogue, etc. She breaks the entire process into short, digestible bits designed to push you
                                    forward swiftly and determinedly, whether you have 10 minutes or 10 months."
                                </em>
                            </p>
                            <p><strong>- Rani Sharma</strong></p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer -->
            <footer id="footer">
                <div class="inner">
                    <section>
                        <ul class="icons">
                            <li>
                                <a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a>
                            </li>
                            <li>
                                <a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a>
                            </li>
                        </ul>
                        &nbsp;
                    </section>
                    <ul class="copyright">
                        <li>Copyright © 2021 Online Book Store</li>
                    </ul>
                </div>
            </footer>
        </div>
        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html>
